@charset "UTF-8";
/* CSS Document */

/*  ------------  レスポンシブ   --------------------　*/
  
 @media screen and (min-width:1366px){
   
   
   
   
  
  
}


@media (min-width: 767px) {
 

  }



@media screen and (min-width:768px) and (max-width:960px){



 h2{
     width: 738px;
     margin: 0 auto;
   }
  h2 img{
     width: 100%;
  }
    h3{
     width: 500px;
      margin: 0 auto;
   }
  h3 img{
     width: 100%;
  }

  nav ul li a{
  
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1.5px;
}
  nav ul .contact-top li:first-child{

  margin: 5px 1.5% 2px 0%;
 
}
nav ul .contact-top li:last-child{

  margin: 5px 0 2px 1.5%;
 
}
  nav ul .contact-bottom li:first-child{
    padding-left: 3.7%;
  }
  
  
  
  
    .CONTACT input{
  width: 100%;


  
}
.CONTACT textarea{
  width: 100%;
  
}
  
  
  
} 

  
 /*  一番小さいサイズ*/
@media screen and (max-width:767px){
  
  body{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
    

  
    

 h2{
     width: 470px;
     margin: 0 auto;
   }
  h2 img{
     width: 100%;
  }
    h3{
     width: 380px;
      margin: 0 auto;
   }
  h3 img{
     width: 100%;
  }
  
  
    nav ul li a{
  
  font-size: 11px;
  font-weight: 100;
  letter-spacing: 1px;
}
  nav ul .contact-top li:first-child{

  margin: 5px 0.5% 2px 0%;
 
}
nav ul .contact-top li:last-child{

  margin: 5px 0 2px 0.5%;
 
}
  nav ul .contact-bottom li:first-child{
    padding-left: 3.7%;
  }

  nav ul .contact-top {

   
  
}
  
  
  

  
  
  
  
  .CONTACT input{
  width: 100%;


  
}
.CONTACT textarea{
  width: 100%;
  
}
  
  
  
  
  
} 



  
  
  @media screen and (max-width:510px){
  
    

    
    
    
    
} 

  
