@charset "UTF-8";
/* CSS Document */

/*  ------------  レスポンシブ   --------------------*/
@media screen and (min-width: 1025px){

  /*画面幅が1025px以上の場合（PC）に適用するCSSを記入*/
}


@media screen and (max-width: 1024px){

  /*画面幅が1024px以下の場合（タブレット）に適用するCSSを記入 タブレット：768px～1024px*/
  #home .animation .char{
    font-size: 26.5px;
  
  }

  #works .container{
    width: 450px;
    margin: 0 auto;
  }

  .graphContainer{
      margin-left: 100px;
      width: 602px;
      margin-top: 70px;
     
  }

}

@media screen and (max-width: 680px){
  /*画面幅が●●px以下の場合に適用するCSSを記入   PC：1025px以上*/
 img {
 width: 100% ;
 }
 #about .ABox{
  float: none;
  text-align: left;
}
#home li{
  font-size: 12.5px; 
  margin-right:80px;
  letter-spacing: 2.5px;

}
#home li:first-child{
  margin-left:80px;
}
#home .animation .char{
  font-size: 21.5px;
  letter-spacing: 9.5px;
}

#about h2{
  padding-left: 80px;
}
#about p{
  /* font-size: 13.5px; */
  width: 430px;
  line-height: 26px;
  margin-bottom: 70px;
  padding-left: 80px;
  /* margin-left: 100px; */
}
.inputWrap{
  margin-left: 80px;
  margin-bottom: 30px;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;

}
/* グラフサイズ変更 */

.graphContainer{
  margin: 0 auto;
  width: 400px;
  float: none;
 
}
.graph{
  width: 400px;
  
}
/* グラフレイアウトの縦線 */
.vertical_Line{
  margin-left: 100px;
  }
  .vertical_Line:nth-child(2){
  margin-left: 200px;
  }
  .vertical_Line:nth-child(3){
  margin-left: 300px;
  }
/* グラフ棒 */
.bar{
  max-width: 398px;
  max-width: 398px;
  font-size: 9px;
}

.bar1{
  max-width: 60%; 
}
.bar2{
  max-width: 60%;
}
.bar3{
  max-width: 50.5%;
}
.bar4{
  max-width: 36.5%;
}

.bar5, .bar6, .bar7{
  max-width: 25%;
}

.bar8{
  max-width: 50.5%;
}
/* グラフのラベル */

.label-name .label{
  font-size: 12px;
  letter-spacing: 6px;
  width: 100px;
 
}

.label:first-of-type{
  margin-left: -25px;
}
.label:nth-of-type(3){
  margin-left: -9.5px;
}
.label:nth-of-type(4){
  margin-left: 7px;
}
.label:nth-of-type(5){

  margin-left: -8.5px;
}

/* グラフここまで */




 #works .container figure{
  margin-right: 10px;
   width: 380px;
   height: 220px;
   margin-bottom: 60px;
 
   
}
.graphContainer{
  margin-left: 80px;
  width: 602px;
  margin-top: 70px;
 
}
#works .attention{
  font-size: 13px;
  width: 380px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
  letter-spacing: 2.1px;
}


#works .container figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center ;
  border-radius:15px;
  box-shadow: 0 0 10px gray;
   
}
#works figure:nth-child(4) img{
  object-fit: contain;
  object-position: center center ;

   
}






}



@media screen and (max-width: 480px){
  /*画面幅が●●px以下の場合に適用するCSSを記入   PC：1025px以上*/
 img {
 width: 100% ;
 }
 /* #home ul{
  

} */
 #home li{
  font-size: 12.5px; 
  margin-right:35px;
  letter-spacing: 2.5px;

}
#home li:first-child{
  margin-left:60px;
}

 #home .animation .char{
  font-size: 17.5px;
  letter-spacing: 4px;
 }
 #about .ABox{
   width: 290px;
  margin: 0 auto;
}
 #about h2{
  font-size: 20px;
  padding-left: 0;
  padding-top: 50px;
}
#about p{
  width: 290px;
  margin-bottom: 60px;
  padding-left: 0;
}
.inputWrap{
  margin-left: 0;
}

/* スマホのグラフ */
/* グラフサイズ変更 */

.graphContainer{
  margin: 0 auto;
  width: 280px;
  float: none;
 
}
.graph{
  width: 280px;
  height: 260px;
}
/* グラフレイアウトの縦線 */
.vertical_Line{
  margin-left: 70px;
  }
  .vertical_Line:nth-child(2){
  margin-left: 140px;
  }
  .vertical_Line:nth-child(3){
  margin-left: 210px;
  }
.bar{
  max-width: 278px;
  max-width: 278px;
  font-size: 9px;
  margin-bottom: 10px;
}

.bar1{
  max-width: 60%; 
  margin-top: 15px;
}
.bar2{
  max-width: 60%;
}
.bar3{
  max-width: 50.5%;
}
.bar4{
  max-width: 36.5%;
}

.bar5, .bar6, .bar7{
  max-width: 25%;
}

.bar8{
  max-width: 50.5%;
}
/* グラフのラベル */

.label-name .label{
  font-size: 12px;
  letter-spacing: 6px;
  width: 70px;
 
}

.label:first-of-type{
  margin-left: -25px;
}
.label:nth-of-type(3){
  margin-left: -9.5px;
}
.label:nth-of-type(4){
  margin-left: 7px;
}
.label:nth-of-type(5){

  margin-left: -8.5px;
}

/* スマホのグラフここまで */







/* スマホ版のグラフ */
/* #about .responseSkills{
  display: block;
  padding-bottom: 120px;
  width: 300px;
  margin: 0 auto;
}
#about .responseSkills h3{
  font-size: 20px;
  margin-bottom: 30px;
}
#about .responseSkills li{
  width: 35px;
  display: inline-block;
} */


/* ここまで */

#works .container{
  width: 290px;
}
#works .container figure{
  margin-right: 10px;
   width: 290px;
   height: 180px;
   margin-bottom: 60px;
 
   
}
#works h2{
  padding: 50px 0 30px 0;
  letter-spacing: 13.9px;
  font-size: 20px;
}
#works .attention{
  font-size: 13px;
  width: 290px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 35px;

}



}

@media screen and (max-width: 767px){

  /*画面幅が767px以下の場合（スマホ）に適用するCSSを記入*/
}