@charset "UTF-8";
/* CSS Document */
body{
/* font-family: 'Courier New', Courier, monospace; */
font-family: 'Montserrat', sans-serif;
  /* color: aliceblue; */
  color: gray;
}
a{
  color: gray;
  text-decoration: none;
}
a:hover{
  color: #000000;
}
h2{
  font-size: 30px;
  padding-left: 100px;
  padding-bottom: 30px;
  letter-spacing: 13.9px;
}
h3{
  font-size: 30px;
  letter-spacing: 13.9px;
}

#home nav{
  position: fixed;
  top: 40px;
  }
#home ul{
  overflow: hidden;

}
#home li{
  font-size: 13px; 

  float: left;
  margin-right:80px;
  letter-spacing: 2.5px;

}
#home li:first-child{
  margin-left:100px;
  }
  #home #can{
    position: absolute;
    top:0;
  }


#home .title-container{
  position: relative;
}
#home .animation{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);

}


#home .animation .char{
  display: inline-block;
  font-size: 38px;
  letter-spacing: 20.5px;
  -webkit-animation-name: movechara;
          animation-name: movechara;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#home .animation .char:nth-child(1) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
          
}

#home .animation .char:nth-child(2) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

#home .animation .char:nth-child(3) {
  -webkit-animation-delay: 0.62s;
          animation-delay: 0.62s;
}

#home .animation .char:nth-child(4) {
  -webkit-animation-delay: 0.86s;
          animation-delay: 0.86s;
}

#home .animation .char:nth-child(5) {
  -webkit-animation-delay: 1.0s;
          animation-delay: 1.0s;
}

#home .animation .char:nth-child(6) {
  -webkit-animation-delay: 1.24s;
          animation-delay: 1.24s;
}

#home .animation .char:nth-child(7) {
  -webkit-animation-delay: 1.48s;
          animation-delay: 1.48s;
}

#home .animation .char:nth-child(8) {
  -webkit-animation-delay: 1.62s;
          animation-delay: 1.62s;
}

#home .animation .char:nth-child(9) {
  -webkit-animation-delay: 1.88s;
          animation-delay: 1.88s;
}
@-webkit-keyframes movechara {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes movechara {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}




/* 変更ここまで */


/* #home p{
  text-align: center;
  font-size: 16px;
  letter-spacing:12.5px;
  padding-top: 35px;
} */





/* -----------------------ABOUT----------------------------- */
.inputWrap::before{
  width: 125%;
  height: 125%;
  content: " ";
  position: absolute;
  top: -50px;
  left: 32px;
  border: 1px solid rgb(153, 152, 152, 0.2);
  border-radius: 50%;
  z-index: -2;
}
.inputWrap::after{
  width: 13%;
  height: 13%;
  content: " ";
  position: absolute;
  top: 5px;
  left: -5px;
  border: 1px solid rgb(153, 152, 152, 0.3);
  border-radius: 50%;
  z-index: -2;
}
input{
  width: 100px;
  height: 100px;
  font-size: 13px;
  background-color: gray;
  color: #fff;
  border-radius: 50%;
  border: none;

}
input:hover{
  background-color: rgb(87, 85, 85);
  transition: 1s; 
}
.inputWrap{
  margin-left: 100px;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;

}










#about .ABox{
  float: left;
}

#about h2{
  width: auto;
  font-size: 30px;
  padding-top: 75px;
  padding-bottom: 30px;
  padding-left: 100px;
  text-align: left;
 
}

#about p{
  width: 530px;
  /* width: 440px; */
  text-align: justify;
  /* font-size: 16px; */
  font-size: 14px;
  letter-spacing: 2.1px;
  line-height: 32.9px;
  margin-bottom: 70px;
  padding-left: 100px;
  /* margin-left: 100px; */
}

/* .AboutWrap{
  width: 1180px;
  height: 100%;
  margin: 0 auto;
} */
  


/* グラフここから */
.graphContainer{
  display: flex;
  margin-left: 120px;
  width: 602px;
  float: left;
  margin-top: 120px;
 
}


.graph{
  position: relative;
  height: 360px;
  width: 600px;
  border: 1px solid rgba(151, 148, 148,0.8);
  border-radius: 2px;
  margin-top: 13px;
  
 
}
/* グラフレイアウトの縦線 */
.vertical_Line{
width: 1px;
height: 100%;
background-color: rgba(151, 148, 148,0.3);
position: absolute;
margin-left: 150px;
}
.vertical_Line:nth-child(2){

margin-left: 300px;
}
.vertical_Line:nth-child(3){
margin-left: 450px;
}
/* グラフ棒 */
.bar{
  position: relative;
  text-align: left;
  max-width: 590px;
  width: 0%;
  border-radius: 2px;
  font-size: 9px;
  letter-spacing: 9px;
  color: #fff;
  /* background: linear-gradient(-95deg, #5663d8, #9f56d3); */
  background: rgb(27,0,36); 
  background: linear-gradient(90deg, rgba(27,0,36,0.2903536414565826) 0%, rgba(196,115,235,1) 0%, rgba(4,165,198,1) 100%);
  padding: 5px;
  margin-bottom: 20px;
  list-style-type: none;
    /* アニメーション追加 */
    overflow: hidden;
  -webkit-animation: 2s linear 0s 1 forwards move_graph;
          animation: 2s linear 0s 1 forwards move_graph;
}
@-webkit-keyframes move_graph { 
  0%{ 
    opacity: 0;
  } 
  100%{ 
    opacity: 1;
    width: 100%;
  }  
}
@keyframes move_graph { 
  0% {  
    opacity: 0;
  } 
  100% { 
    opacity: 1;
    width: 100%;
  } 
}

.bar1{
  max-width: 60%; 
  margin-top: 30px;
}
.bar2{
  max-width: 60%;
}
.bar3{
  max-width: 50.5%;
}
.bar4{
  max-width: 36.5%;
}

.bar5, .bar6, .bar7{
  max-width: 25%;
}

.bar8{
  max-width: 50.5%;
}

/* グラフのラベル */
.label-name{
  display: flex;
  margin-bottom: 120px;
}
.label-name .label{
  font-size: 12px;
  letter-spacing: 6px;
  width: 150px;
  text-align: left;
  padding-top: 6px;
  margin-left: 12.5px;
}

.label:first-of-type{
  margin-left: -25px;
}
.label:nth-of-type(3){
  margin-left: -9.5px;
}
.label:nth-of-type(4){
  margin-left: 7px;
}
.label:nth-of-type(5){

  margin-left: -8.5px;
}

/* グラフここまで */












/* -------------------------works---------------------------- */
#works h2{
text-align: center;
padding: 75px 0 30px 0;
letter-spacing: 13.9px;
}
#works .attention{
  font-size: 13px;
  text-align: center;
  /* padding-bottom: 60px; */
  padding-bottom: 90px;
  letter-spacing: 2.1px;
}
#works .container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 
  }

#works .container figure{
     margin-right: 10px;
      width: 200px;
      height: 200px;
      margin-bottom: 60px;
    
      
}
#works .container figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center ;
  border-radius:15px;
  box-shadow: 0 0 10px gray;
 
  
}









#works .container figcaption{
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  letter-spacing: 5px;
  /* position: relative; */
  
}

#works .container figcaption a:hover{
  color: #000000;
  
  
}


#works .copyright{
 font-size: 13px;
 position: absolute;
 bottom: 5px;
 left: 0;
 right: 0;
 text-align: center;

}

canvas{
  z-index: -1;
}